flask>=2.3.0
flask-cors>=4.0.0
numpy==1.26.4
tensorflow-cpu==2.15.1
torchvision==0.18.1+cpu
joblib==1.4.2
ortools==9.7.2996
opencv-python-headless==4.9.0.80
ultralytics==8.3.73
protobuf==4.23.4
Pillow==10.4.0